<div class="box_account m-auto" style="width: 500px;margin-top: 70px !important;margin-bottom: 70px !important;">
    <h3 class="client">Admin Account</h3>
    <div class="form_container">

      <form>

        <div class="form-group">

          <input type="email"  class="form-control"
            name="email" placeholder="User Name*">
          <div>
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control"
            
            name="password_in" placeholder="Password*">
          <div >

          </div>
        </div>

        <button  type="submit"
          class="btn btn-primary btn_1 full-width">Log
          IN</button>
        </form>
    </div>
    <!-- /form_container -->
  </div>