<section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
  <div class="container">
    <div class="page-breadcrumb d-flex align-items-center">
      <h3 class="breadcrumb-title pe-3">My Profile</h3>
      <div class="ms-auto">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item"><a routerLink="/"><i class="bx bx-home-alt"></i> Home</a>
            </li>
            <li class="breadcrumb-item"><a routerLink="/user/profile/dashboard">Account</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Details</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-none mb-3 mb-lg-0 border">
          <div class="card-body">
            <div class="list-group list-group-flush">
              <a routerLink="/user/profile/dashboard"
                class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Dashboard <i
                  class='bx bx-tachometer fs-5'></i></a>
              <a routerLink="/user/profile/order"
                class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Orders <i
                  class='bx bx-cart-alt fs-5'></i></a>
              <a routerLink="/user/profile/address"
                class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Addresses <i
                  class='bx bx-home-smile fs-5'></i></a>
              <a routerLink="/user/profile/userDetailes"
                class="list-group-item active d-flex justify-content-between align-items-center">Account Details <i
                  class='bx bx-user-circle fs-5'></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-none mb-0 border">
          <div class="card-body" [formGroup]="formEdit">
            <div class="row g-3" >
              <div class="col-md-6">
                <input type="hidden" value="{{users.id}}" #inputuserid>
                <label class="form-label">Name</label>
                <input type="text" formControlName="name" class="form-control"
                [class.is-invalid]="isInValidAndTouched2('name')" [class.is-valid]="isValidControl2('name')"
                 value="{{users.name}}" #inputusername>
                <div *ngIf="isInValidAndTouched2('name')">
                  <small class="form-text text-danger" *ngIf="isControlHasError2('name','required')">required
                    name</small>
                  <small class="form-text text-danger" *ngIf="isControlHasError2('name','minlength')">min length
                    is 3</small>
                  <small class="form-text text-danger" *ngIf="isControlHasError2('name','maxlength')">max length
                    is 25</small>
                </div>
              </div>
              <div class="col-md-6">
                <label class="form-label">Phone</label>
                <input formControlName="phone" type="text" class="form-control" 
                [class.is-invalid]="isInValidAndTouched2('phone')" [class.is-valid]="isValidControl2('phone')"  
                #inputuserphone>
                <div *ngIf="isInValidAndTouched2('phone')">
                  <small class="form-text text-danger" *ngIf="isControlHasError2('phone','required')">required
                     phone number</small>
                  <small class="form-text text-danger" *ngIf="isControlHasError2('phone','minlength')">min length
                    is 11</small>
                  <small class="form-text text-danger" *ngIf="isControlHasError2('phone','maxlength')">max length
                    is 11</small>

                </div>
              </div>
              <div class="col-12">
                <label class="form-label">Email address</label>
                <input formControlName="email" type="text" class="form-control" 
                [class.is-invalid]="isInValidAndTouched2('email')" [class.is-valid]="isValidControl2('email')"
                #inputuseremail>
                <div *ngIf="isInValidAndTouched2('email')">
                  <small class="form-text text-danger" *ngIf="isControlHasError2('email','required')">required
                    email</small>
                  <small class="form-text text-danger" *ngIf="isControlHasError2('email','email')">email is not
                    valid</small>
                </div>
              </div>
              <div class="col-12">
                <label class="form-label">Address</label>
                <input formControlName="full_address" type="text" class="form-control" value="{{users.full_address}}" #inputuseraddress>
              </div>
              <div class="col-4">
                <label class="form-label">Country</label>
                <input formControlName="country" type="text" class="form-control" value="{{users.country}}" #inputusercountry>
              </div>
              <div class="col-4">
                <label class="form-label">City</label>
                <input formControlName="city" type="text" class="form-control" value="{{users.city}}" #inputusercity>
              </div>
              <div class="col-4">
                <label class="form-label">House number</label>
                <input formControlName="house_no" type="text" class="form-control" value="{{users.house_no}}" #inputuserhouse>
              </div>
              <div class="col-12">
                <button type="button" class="btn btn-dark btn-ecomm"
                  (click)="update(inputuserid.value,inputusername.value,inputuseremail.value,inputuserphone.value,inputuseraddress.value,inputusercountry.value,inputusercity.value,inputuserhouse.value)">Save
                  Changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
