<!-- Page Wrapper -->
<!-- Content Wrapper -->
<div class="container" class="d-flex flex-column col-12">
  <div class="mt-4">
    <div class="container-fluid col-12">
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Category</h1>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <br />
  <!-- Area Chart -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">Table of Categories</h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <table class="table">
              <thead class="thead-info">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Category</th>

                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let currentIndex=index;
                    let category of categories|
                    paginate: { itemsPerPage: count, currentPage: p }
                  "
                >
                  <th scope="row">{{ currentIndex + 1 }}</th>
                  <td>{{ category.cat_name }}</td>
                  <td class="d-flex justify-content-around">
                    <div class="btn btn-info mr-2">Veiw</div>
                    <div class="btn btn-dark mr-2">Edit</div>
                    <button class="btn btn-danger">Delete</button>
                  </td>
                </tr>
                <tr></tr>
              </tbody>
            </table>
            <!--Including the pagination control.-->
            <div class="text-right">
              <pagination-controls
                (pageChange)="p = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <!-- Area Chart -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">Add new Category</h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Category Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="Email"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputEmail4">SubCategory Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="Email"
                  />
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Content Wrapper -->
  <!-- End of Page Wrapper -->
</div>
