<main class="bg_gray">
  <ng-container *ngIf="productsInCart.length !=0">
    <div class="container margin_30">
    <div class="page_header">
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Cart</a></li>
                <!-- <li>Page active</li> -->
            </ul>
        </div>
        <h1>Cart page</h1>
    </div>
    <!-- /page_header -->
    <table class="table table-striped cart-list">
                        <thead>
                            <tr>
                                <th>
                                    Product
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Subtotal
                                </th>
                                <th>
                                    
                                </th>
                            </tr>
                        </thead> 
                        <tbody>
                            <tr *ngFor="let cart of productsInCart;let currentIndex=index">
                                <td>
                                    <div class="thumb_cart">
                                        <img src="{{cart[1]}}" data-src="img/products/shoes/2.jpg" class="lazy" alt="Image">
                                    </div>
                                    <span class="item_cart">{{cart[0]}}</span>
                                </td>
                                <td>
                                    <strong>${{cart[2]}}</strong>
                                </td>
                                <td>
                                    <div class="numbers-row">
                                        <input type="number" value="{{cart[2]}}" id="quantity_2" class="qty2" name="quantity_2">
                                    </div>
                                </td>
                                <td>
                                    <strong>$110.00</strong>
                                </td>
                                <td class="options">
                                    <a href="" routerLink="/cart" ><i class="ti-trash" (click)="omg('product'+cart[3])"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
<br>
                    <div class="row add_top_30 flex-sm-row-reverse cart_actions">
                    <div class="col-sm-4 text-end">
                        <button type="button" class="btn_1 gray">Update Cart</button>
                    </div>
                        <div class="col-sm-8">
                        <div class="apply-coupon">
                            <div class="form-group">
                                <!-- <div class="row g-2">
                                    <div class="col-md-6"><input type="text" name="coupon-code" value="" placeholder="Promo code" class="form-control"></div>
                                    <div class="col-md-4"><button type="button" class="btn_1 outline">Apply Coupon</button></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- /cart_actions-->

    </div>
    <!-- /container -->
    
    <div class="box_cart">
        <div class="container">
        <div class="row justify-content-end">
            <div class="col-xl-4 col-lg-4 col-md-6">
        <ul>
            <li>
                <span>Subtotal</span> $240.00
            </li>
            <li>
                <span>Shipping</span> $7.00
            </li>
            <li>
                <span>Total</span> $247.00
            </li>
        </ul>
        <a routerLink="/cart/checkout" class="btn_1 full-width cart">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /box_cart -->
  </ng-container>
  <ng-container *ngIf="productsInCart.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/home" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>
</main>
<!--/main-->