<main class="bg_gray">
  <ng-container *ngIf="productsInCart.length !=0">
    <div class="container margin_30">
    <div class="page_header">
        <div class="breadcrumbs">
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/cart">Cart</a></li>
                <!-- <li>Page active</li> -->
            </ul>
        </div>
        <h1>Cart page</h1>
    </div>
    <!-- /page_header -->
    <table class="table table-striped cart-list">
                        <thead>
                            <tr>
                                <th>
                                    Product
                                </th>
                                <th>
                                    Color
                                </th>
                                <th>
                                    Size
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Subtotal
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cart of productsInCart;let currentIndex=index">

                                <td>
                                    <div class="thumb_cart">
                                        <img src="{{cart[2]}}" data-src="img/products/shoes/2.jpg" class="lazy" alt="Image">
                                    </div>
                                    <span class="item_cart">{{cart[1]}}</span>
                                </td>
                                <td>
                                    <strong>{{productStore[currentIndex].color}}</strong>
                                </td>
                                <td>
                                    <strong>{{productStore[currentIndex].size|uppercase}}</strong>
                                </td>
                                <td>
                                    <strong>{{cart[4]|currency}}</strong>
                                </td>
                                <td>
                                    <input style="border-radius: 4px !important;height: 30px !important;width: 50px !important;background-color: white;" type="number" min='1' (change)="getQty(inputQty.value)" (change)="getTotalPrice()"(change)="updateCart(cart[0],cart[1],cart[2],cart[4],inputQty.value,inputSubTotla.value,cart[5])" #inputQty value="{{cart[3]}}" id="quantity_2" class="qty2" name="quantity_2">

                                </td>
                                <td>
                                    <strong>{{cart[4]*getQty(inputQty.value)|currency}}</strong>
                                    <input id="totPrice" #inputSubTotla type="hidden" value="{{cart[4]*getQty(inputQty.value)}}">
                                </td>
                                <td class="options">
                                    <a href="" routerLink="/cart" ><i class="ti-trash" (click)="omg('product'+cart[5])"></i></a>
                                </td>
                                <!-- <td>
                                    <div class="col-sm-4 text-end">
                                        <button type="button" class="btn_1 gray" (click)="updateCart(cart[3],cart[0],cart[1],cart[2],inputQty.value,inputSubTotla.value)">Update Cart</button>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
<br>

                <!-- /cart_actions-->

    </div>
    <!-- /container -->

    <div class="box_cart">
        <div class="container">
        <div class="row justify-content-end">
            <div class="col-xl-4 col-lg-4 col-md-6">
        <ul class="d-flex">
            <li>
                <span>Total</span> <span style="margin-left: 190px !important;">{{totalPrice |currency}}</span>
            </li>
        </ul>
        <a routerLink="/cart/checkout" class="btn_1 full-width cart" (click)="addToDBCart()">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /box_cart -->
  </ng-container>
  <ng-container *ngIf="productsInCart.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title ">My Cart <i class="fas fa-shopping-cart"></i></h5>
        </div>
        <div class="center">
            <img src="../../assets/empty.png" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/home" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>
</main>
<!--/main-->
