<div id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper" style="width: 120%;">

    
  
<div class="container" class="d-flex flex-column col-10">
  <div class="mt-4">
    <div class="container-fluid col-12">
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Orders</h1>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <br>
  <!-- Area Chart -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Table of Orders</h6>
          <div class="col-md-4">
            <div class="search"> <i class="fa fa-search"></i> <input id="search-input" [(ngModel)]='searchText' type="search" id="form1" class="form-control" /></div>
        </div>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div  style="height: 550px;">

            <table class="table">
              <thead class="thead-info">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">customer Name</th>
                  <th scope="col">phone</th>
                  <th scope="col-4">address</th>
                  <th scope="col-4">Order_num</th>
                  <th scope="col">payment</th>
                  <th scope="col">price</th>
                  <th scope="col">discount</th>
                  <th scope="col">status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                let currentIndex=index;
                let order of orders
               | filter:searchText
               | paginate: { itemsPerPage: count, currentPage: p }
              ">
              <!-- filter:searchText |
              paginate: { itemsPerPage: count, currentPage: p } -->
                  <th scope="row">{{currentIndex+1}}</th>
                  <td>{{order.name}}</td>
                  <td>{{order.phone}}</td>
                  <td>{{order.full_address |maxLength}}</td>
                  <td>{{order.id}}</td>
                  <td>{{order.payment_method}}</td>
                  <td>{{order.price}}</td>
                  <td>{{order.discount}}</td>
                  <td>{{order.status}}</td>


                  <td class="d-flex justify-content-around">

                    <div class="btn btn-dark mr-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(order.id)">Edit</div>

                    <button class="btn btn-danger" (click)="delete(currentIndex)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-right">
          <pagination-controls (pageChange)="p = $event">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Content Wrapper -->
  <!-- End of Page Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->

</div>


<!-- Modal -->
<div style="position: absolute;" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div style="position: relative;top: 200px;left: 150px;" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="orderid" #inputId >
        <div class="input-group mb-3">
          <label for="order_status" class="me-3 mt-2">Status</label>
          <select class="form-select" aria-label="Default select example"#inputOrderstatus>
            <option value="pending">pending</option>
            <option value="processing">processing</option>
            <option value="completed">completed</option>
            <option value="canceled">canceled</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="update(inputId.value,inputOrderstatus.value)">Update</button>
      </div>
    </div>
  </div>
</div>

