<header>
  <!-- contact content -->
  <div class="header-content-top" *ngIf="getloginUser()">
    <ul>
      <li>
        <i class="weatherWidgetRow">{{WeatherData.name}} : {{WeatherData.temp_celcius}}°</i>
      </li>
      <li ><i  class="fas fa-2x fa-sun sun weatherWidgetRow" *ngIf="WeatherData.isDay"></i></li>
      <li ><i class="fas fa-2x fa-moon moon weatherWidgetRow" *ngIf="!WeatherData.isDay"></i></li>
    </ul>
    <div class="content">
      <span><i class="fas fa-envelope-square"></i>{{getloginUser()}}</span>
    </div>
  </div>
  <!-- / contact content -->
  <div class="container">
    <!-- logo -->
	<div id="logo">
		<a routerLink="/home"><img src="../../assets/download (1).png" alt="" width="" height="50"></a>
	</div>    <!-- open nav mobile -->

	<div class="nav-container text-center">
		<nav class="all-category-nav">
		  <label class="open-menu-all" for="open-menu-all">
			<button class="input-menu-all" id="open-menu-all" name="menu-open" ></button>
			<li  class="all-navigator sub-menu"><a class="show-submenu">Home</a>
			</li>

			<ul class="all-category-list dropdown_menu--animated">
			  <li class="all-category-list-item dropdown_item" *ngFor="let cat of categories">
				<a *ngIf="cat.cat_name==='men'  || cat.cat_name ==='man'" routerLink="/products/men" class="all-category-list-link">{{cat.cat_name |uppercase}}<i class="fas fa-angle-right"></i></a>
				<a *ngIf="cat.cat_name==='women'|| cat.cat_name ==='woman' || cat.cat_name==='weman'" routerLink="/products/woman" class="all-category-list-link">{{cat.cat_name |uppercase}}<i class="fas fa-angle-right"></i></a>
				<a *ngIf="cat.cat_name==='kid'  || cat.cat_name ==='kids'" routerLink="/products/kids" class="all-category-list-link">{{cat.cat_name |uppercase}}<i class="fas fa-angle-right"></i></a>


				</li>
			  <!-- <li *ngFor="let cat of categories"><a routerLink="/products/{{cat.cat_name}}">{{cat.cat_name |uppercase}}</a></li> -->
			</ul>
		  </label>

		</nav>
		<nav class="featured-category">
		  <ul class="nav-row">
			<li class="nav-row-list" style="width: 120px;"><a routerLink="/contact/aboutus" class="nav-row-list-link">About us</a></li>
			<li class="nav-row-list" style="width: 120px;"><a routerLink="/contact/contactus" class="nav-row-list-link">Contact Us</a></li>
		</ul>
		</nav>
		<!-- <nav>
			<ul class="d-flex" style="margin-left: 70px;">
				<li style="width: 100px; margin-top: 30px;">
					<i class="weatherWidgetRow" style="margin-top: 5px;">{{WeatherData.name}} : {{WeatherData.temp_celcius}}°</i>
				</li>
				<li ><i style="font-size: 35px;" class="fas fa-3x fa-sun sun weatherWidgetRow" *ngIf="WeatherData.isDay"></i></li>
				<li ><i style="font-size: 35px;color: #fffb00;"class="fas fa-3x fa-moon moon weatherWidgetRow" *ngIf="!WeatherData.isDay"></i></li>
			</ul>
		</nav> -->
	  </div>
    <!--search -->
	<nav class="nav-content" style="margin-right: 0% !important;">
		<ul class="top_tools">
			<li>
				<a href="#0" data-bs-toggle="modal" data-bs-target="#size-modal" class="dropdown dropdown-cart">

					<a  class="cart_bt"><strong>{{getTotalCount()}}</strong></a>
					<div class="dropdown-menu dropdown_menu--animated">
						<div class="total_drop">
							<div class="clearfix"><strong>Total</strong><span>{{gettotalPrice() |currency}}</span></div>
							<a routerLink="/cart" class="btn_1 outline">View Cart</a>
							<a routerLink="/cart/checkout" class="btn_1">Checkout</a>
						</div>
					</div>
				</a>
				<!-- /dropdown-cart-->
			</li>
			<li>
				<a routerLink="/favourites" class="wishlist"><span>Wishlist</span></a>
			</li>
			<li>
				<div  class="dropdown dropdown-access">
					<a  class="access_link"><span>Account</span></a>
					<div class="dropdown-menu dropdown_menu--animated">
						<a routerLink="/acount" class="btn_1">Sign In or Sign Up</a>
						<ul>
							<li>
								<a routerLink="/user/profile/order"><i class="ti-package"></i>My Orders</a>
							</li>
							<li>
								<a routerLink="/user/profile"><i class="ti-user"></i>My Profile</a>
							</li>
							<!-- <li>
								<a routerLink="/acount" *ngIf="!getloginUser()"><i class="ti-user"></i>Login</a>
							</li> -->
							<li>
								<a *ngIf="getauthlogin() || getloginUser()" (click)="logout($event)">
									<i class="ti-user"></i>Logout</a>
							</li>

						</ul>
					</div>
				</div>
				<!-- /dropdown-access-->
			</li>

		</ul>
	</nav>
    <!-- // search -->
  </div>
  <!-- nav navigation commerce -->

</header>

























































