<div id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admn/admin/dashboard">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3"> Admin </div>
            </a>

            <!-- Divider -->
            <br>
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/admn/admin/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
           
            <!-- Divider -->
        

            <!-- Heading -->
           

            <!-- Nav Item - Pages Collapse Menu -->
         

            <!-- Nav Item - Utilities Collapse Menu -->
           

            <br>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/admn/admin/category" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Categories</span>
                </a>
                
            </li>
            <li class="nav-item">
                <a
                  class="nav-link collapsed"
                  routerLink="/admn/admin/subcategory"
                  data-toggle="collapse"
                  data-target="#collapsePages"
                  aria-expanded="true"
                  aria-controls="collapsePages"
                >
                  <i class="fas fa-fw fa-folder"></i>
                  <span>SubCategories</span>
                </a>
              </li>
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/admn/admin/product" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Products</span>
                </a>
                
            </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/admn/admin/users" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Users</span>
                </a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/admn/admin/order" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Orders</span>
                    <span data-toggle="tooltip" class="badge" style="background-color: #7a95e4;margin-left: 10px;">{{count}}</span> 
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="https://app.smartsupp.com/app/dashboard/conversations"
                    aria-expanded="true" aria-controls="collapsePages" target="_blank">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Chat</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed"
                    aria-expanded="true" aria-controls="collapsePages">
                    <span (click)="logout($event)">Log out</span>
                </a>
            </li>


        </ul>
        <!-- <router-outlet></router-outlet> -->
    </div>

</div>
