<main class="bg_gray">

  <div class="container margin_30">
    <div class="page_header">
      <div class="breadcrumbs">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Account</a></li>
        </ul>
      </div>
      <h1>Sign In or Create an Account</h1>
    </div>
    <!-- /page_header -->
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-8">
        <div class="box_account">
          <h3 class="client">Already Client</h3>
          <div class="form_container">
            <div class="row no-gutters">
              <div class="col-lg-6 pr-lg-1">

                <a class="text-decoration-none text-light social_bt facebook" (click)="signin()">Login with Facebook</a>
              </div>
              <div class="col-lg-6 pl-lg-1">
                <a class="text-decoration-none text-light social_bt google" (click)="signInWithGoogle()">Login with
                  Google</a>
              </div>
            </div>
            <div class="divider"><span>Or</span></div>

            <form [formGroup]="formLogin" (ngSubmit)="login()">

              <div class="form-group">

                <input formControlName="email" type="email" value="{{account.email}}" class="form-control"
                  [class.is-invalid]="isInValidAndTouched('email')" [class.is-valid]="isValidControl('email')"
                  name="email" placeholder="User Name*">
                <div *ngIf="isInValidAndTouched('email')">
                  <small class="form-text text-danger" *ngIf="isControlHasError('email','required')">required
                    email</small>
                  <small class="form-text text-danger" *ngIf="isControlHasError('email','email')">is not valid</small>
                </div>
              </div>
              <div class="form-group">
                <input formControlName="password" type="password" class="form-control"
                  [class.is-invalid]="isInValidAndTouched('password')" [class.is-valid]="isValidControl('password')"
                  name="password_in" placeholder="Password*">
                <div *ngIf="isInValidAndTouched('password')">
                  <small class="form-text text-danger" *ngIf="isControlHasError('password','required')">required
                    password</small>
                  <small class="form-text text-danger" *ngIf="isControlHasError('password','minlength')">min length is
                    6</small>
                </div>
              </div>

              <button [disabled]="formLogin.invalid"  type="submit"
                class="btn btn-primary btn_1 full-width">Log
                IN</button>
                <a class="btn btn-primary btn_1 full-width" [routerLink]="['/reset-password']" routerLinkActive="router-link-active" >Forget Password</a>

              <!-- <div class="clearfix add_bottom_15">
									<div class="checkboxes float-start">
										<label class="container_check">Remember me
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="float-end"><a id="forgot" href="javascript:void(0);">Lost Password?</a></div>
								</div> -->
              <!-- <button [disabled]="formLogin.invalid" type="button" class="btn btn_1 full-width">Log IN</button> -->

              <!-- <div id="forgot_pw">
									<div class="form-group">
										<input type="email" class="form-control" name="email_forgot" id="email_forgot" placeholder="Type your email">
									</div>
									<p>A new password will be sent shortly.</p>
									<div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
								</div> -->
              </form>
          </div>
          <!-- /form_container -->
        </div>
        <!-- /box_account -->
        <div class="row">
          <div class="col-md-6 d-none d-lg-block">
            <ul class="list_ok">
              <li>Find Locations</li>
              <li>Quality Location check</li>
              <li>Data Protection</li>
            </ul>
          </div>
          <div class="col-md-6 d-none d-lg-block">
            <ul class="list_ok">
              <li>Secure Payments</li>
              <li>H24 Support</li>
            </ul>
          </div>
        </div>
        <!-- /row -->
      </div>
      <div class="col-xl-6 col-lg-6 col-md-8">
        <div class="box_account">
          <h3 class="new_client">New Client</h3> <small class="float-right pt-2">* Required Fields</small>

          <form [formGroup]="formRegister" (ngSubmit)="register()">
            <div class="form_container">
              <div class="row no-gutters">
                <div class="col-lg-6 pr-lg-1">
                  <a class="text-decoration-none text-light social_bt facebook" (click)="signin()">Login with
                    Facebook</a>
                </div>
                <div class="col-lg-6 pl-lg-1">
                  <a class="text-decoration-none text-light social_bt google" (click)="signInWithGoogle()">Login with
                    Google</a>
                </div>
              </div>
              <div class="divider"><span>Or</span></div>
              <div class="form-group">
                <input formControlName="email" type="email" class="form-control" value="{{account.email}}"
                  [class.is-invalid]="isInValidAndTouched2('email')" [class.is-valid]="isValidControl2('email')"
                  name="email" placeholder="email*">
                <div *ngIf="isInValidAndTouched2('email')">
                  <small class="form-text text-danger" *ngIf="isControlHasError2('email','required')">required
                    email</small>
                  <small class="form-text text-danger" *ngIf="isControlHasError2('email','email')">email is not
                    valid</small>
                </div>
              </div>
              <div class="form-group">
                <input formControlName="password" type="password" class="form-control"
                  [class.is-invalid]="isInValidAndTouched2('password')" [class.is-valid]="isValidControl2('password')"
                  name="password_in_2" id="password_in_2" value="" placeholder="password*">
                <div *ngIf="isInValidAndTouched2('password')">
                  <small class="form-text text-danger" *ngIf="isControlHasError2('password','required')">required
                    password</small>
                  <small class="form-text text-danger" *ngIf="isControlHasError2('password','minlength')">min length is
                    6</small>
                </div>
              </div>
              <hr>
              <!-- <div class="form-group">
								<label class="container_radio" style="display: inline-block; margin-right: 15px;">Private
									<input type="radio" name="client_type" checked value="private">
									<span class="checkmark"></span>
								</label>
								<label class="container_radio" style="display: inline-block;">Company
									<input type="radio" name="client_type" value="company">
									<span class="checkmark"></span>
								</label>
							</div> -->
              <div class="private box">
                <div class="row no-gutters">
                  <div class="col-6 pr-1">
                    <div class="form-group">
                      <input formControlName="name" type="text" class="form-control" value="{{account.name}}"
                        [class.is-invalid]="isInValidAndTouched2('name')" [class.is-valid]="isValidControl2('name')"
                        placeholder="name*">
                      <div *ngIf="isInValidAndTouched2('name')">
                        <small class="form-text text-danger" *ngIf="isControlHasError2('name','required')">required
                          name</small>
                        <small class="form-text text-danger" *ngIf="isControlHasError2('name','minlength')">min length
                          is 3</small>
                        <small class="form-text text-danger" *ngIf="isControlHasError2('name','maxlength')">max length
                          is 25</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <input formControlName="full_address" type="text" class="form-control"
                        placeholder="Full Address*">
                      <!-- <div *ngIf="isInValidAndTouched2('full_address')">
                        <small class="form-text text-danger" *ngIf="isControlHasError2('full_address','required')">required
                          address</small>
                        <small class="form-text text-danger" *ngIf="isControlHasError2('full_address','maxlength')">max
                          length is 100</small>
                      </div> -->
                    </div>
                  </div>
                </div>
                <!-- /row -->
                <div class="row no-gutters">
                  <div class="col-6 pr-1">
                    <div class="form-group">
                      <input formControlName="city" type="text" class="form-control"
                        placeholder="city*">
                      <!-- <div *ngIf="isInValidAndTouched2('city')">
                        <small class="form-text text-danger" *ngIf="isControlHasError2('city','required')">required
                          city</small>
                      </div> -->
                    </div>
                  </div>
                  <div class="col-6 pl-1">
                    <div class="form-group">
                      <input type="text" formControlName="house_no" class="form-control"
                       placeholder="House Number*">
                      <!-- <div *ngIf="isInValidAndTouched2('house_no')">
                        <small class="form-text text-danger" *ngIf="isControlHasError2('house_no','required')">required
                          house number</small>
                      </div> -->
                    </div>
                  </div>
                </div>
                <!-- /row -->

                <div class="row no-gutters">
                  <div class="col-6 pr-1">
                    <div class="form-group">
                      <div class="custom-select-form">

                        <select  class="form-select"
                           name="country" formControlName="country" placeholder="country*">
                          <option value="">Country*</option>
                          <option value="Egypt" selected>Egypt</option>
                          <option value="United states">United states</option>
                          <option value="Asia">Asia</option>
                        </select>
                      </div>
                      <!-- <div *ngIf="isInValidAndTouched2('country')">
                        <small class="form-text text-danger" *ngIf="isControlHasError2('country','required')">required
                          house country</small>
                      </div> -->
                    </div>
                  </div>
                  <div class="col-6 pl-1">
                    <div class="form-group">
                      <input formControlName="phone" type="text" class="form-control"
                        placeholder="Telephone *">
                      <!-- <div *ngIf="isInValidAndTouched2('phone')">
                        <small class="form-text text-danger" *ngIf="isControlHasError2('phone','required')">required
                          house phone number</small>
                        <small class="form-text text-danger" *ngIf="isControlHasError2('phone','minlength')">max length
                          is 11</small>
                        <small class="form-text text-danger" *ngIf="isControlHasError2('phone','maxlength')">max length
                          is 11</small>

                      </div> -->
                    </div>
                  </div>
                </div>
                <!-- /row -->

              </div>
              <hr>

              <button [disabled]="formRegister.invalid" type="submit"
                class="btn btn-primary btn_1  full-width">Register</button>
            </div>
          </form>
          <!-- /form_container -->
        </div>
        <!-- /box_account -->
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</main>

<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '{your-app-id}',
      cookie: true,
      xfbml: true,
      version: '{api-version}'
    });

    FB.AppEvents.logPageView();

  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>
