<main>
  <div id="demo" class="carousel slide align-items-center" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/womans.jpeg" alt="Los Angeles" width="100%" height="350">
      </div>
      <div class="carousel-item">
        <img src="assets/images/mens.webp" alt="Chicago" width="100%" height="350">
      </div>
      <div class="carousel-item">
        <img src="assets/images/kids.jpeg" alt="New York" width="100%" height="350">
      </div>
    </div>

    <!-- Left and right controls -->
    <a href="#demo"  class="carousel-control-prev"  data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#demo"  class="carousel-control-next" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>


  <!--/carousel-->

  <ul id="banners_grid" class="clearfix">
    <li>
      <a routerLink="/products/men" class="img_container">
        <img src="assets/images/man.jpeg" data-src="assets/img/banner_1.jpg" alt="" class="lazy">
        <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)" style="background-color: rgba(0, 0, 0, 0.5);">
          <h3>Men's Collection</h3>
          <div><span class="btn_1">Shop Now</span></div>
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/products/woman" class="img_container">
        <img src="assets/images/woman.jpeg" data-src="assets/img/banner_2.jpg" alt="" class="lazy">
        <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)" style="background-color: rgba(0, 0, 0, 0.5);">
          <h3>Womens's Collection</h3>
          <div><span class="btn_1">Shop Now</span></div>
        </div>
      </a>
    </li>
    <li>
      <a href="" routerLink="/products/kids" class="img_container">
        <img src="assets/images/kid.jpeg" data-src="assets/img/banner_3.jpg" alt="" class="lazy">
        <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)" style="background-color: rgba(0, 0, 0, 0.5);">
          <h3>Kids's Collection</h3>
          <div><span class="btn_1">Shop Now</span></div>
        </div>
      </a>
    </li>
  </ul>
  <!--/banners_grid -->

  <div class="container margin_60_35">
    <div class="main_title">
      <h2 class="fw-bold">Lastest Products</h2>
      <span>Products</span>
    </div>
    <div class="row small-gutters">
      <div class="col-6 col-md-4 col-xl-3" *ngFor="let product of allProducts">
        <div class="grid_item">
          <span class="ribbon new">New</span>
          <input id="id" type="hidden" value="{{product.id}}" #inputId>
          <figure>
            <a>
                <img class="img-fluid lazy" id="inputImage" src="{{product.image}}"
                style="height: 300px !important; width:300px !important" #inputImage>
            </a>
          </figure>
          <!-- <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div> -->
          <a>
            <h3 id="inputProdName">{{(product.product_name.length>30)? (product.product_name|slice:0:30)+'...':(product.product_name) }}</h3>
            <input id="inputProdName" type="hidden" value="{{product.product_name}}" #inputProdName>
            <br>
          </a>
          <!-- <app-rating [rate]="mainhomeRate" (change)="onmainHomeRateChange($event)"></app-rating> -->
          <!-- <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div> -->
          <div class="price_box">
            <input id="inputNewPrice" type="hidden" value="{{product.price - product.discount}}" #inputNewPrice>
            <span class="new_price">${{product.price - product.discount}}</span>
            <span class="old_price" id="inputPrice">${{product.price}}</span>
          </div>
          <div class="price_box">
            <!-- <span class="new_price" id="inputPrice">$110.00</span> -->
            <br>
            <!-- <button class="btn btn-info me-1" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getid(product.id)">View product</button> -->
            <!-- <button class="btn btn-info ms-4" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getid(product.id)">View product</button> -->

          </div>
          <ul>
            <li><a class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to favorites"><i
                  class="ti-heart"
                  (click)="addToFav(inputId.value,inputProdName.value,inputImage.src,inputNewPrice.value)"></i><span>Add
                  to favorites</span></a></li>

            <li><a routerLink="/veiw/{{product.id}}" class="tooltip-1" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-placement="left"
                title="view product"><i class="fa fa-eye" style="font-size:20px"
                  ></i><span>view product</span></a></li>
          </ul>


        </div>


        <!-- /grid_item -->
      </div>

      <!-- /col -->

    </div>

    <!-- /row -->
  </div>

  <!-- /container -->
  <div class="featured lazy" data-bg="url('assets/image_z.jpg')"style="background-image: url('assets/image_z.jpg')">
    <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)" style="background-color: rgba(0, 0, 0, 0.5);">
      <div class="container margin_60">
        <div class="row justify-content-center justify-content-md-start">
          <div  class="col-lg-6 wow animated" data-wow-offset="150" style="visibility: visible;">
            <h3>Sell <br> New Collection</h3>
            <p>Showcase your Collection at their absolute best. Allow your visitors to browse your merchandise, add items to their cart.</p>
            <div class="feat_text_block">
              <div class="price_box">
                <span class="new_price">-50% Sales</span>
              </div>
              <a class="btn_1" routerLink="/products/woman" role="button">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container margin_60_35">
    <div class="main_title">
      <h2>Big Sales</h2>
      <span>Product</span>
    </div>
    <div class="row">
      <div class="col-lg-6"  *ngFor="let disc of productsDisc">
        <a class="box_news" >
          <figure>
            <a href="" routerLink="/veiw/{{disc.id}}">
            <img  src="{{disc.image}}" data-src="assets/img/blog-thumb-1.jpg" alt=""
               class="lazy"></a>
            <figcaption class="fw-bold text-start">-{{(disc.discount/disc.price)*100|number: '1.0-0'}}%</figcaption>
          </figure>
          <h4>{{disc.product_name}}</h4>
          <p>{{disc.description}} </p>
          <ul>
            <li><span class="new_price">{{disc.price - disc.discount|currency}}</span></li>
            <li><span class="old_price" id="inputPrice">{{disc.price|currency}}</span></li>
          </ul>
        </a>
      </div>
    </div>
    <!-- /row -->
  </div>

  <!-- /container -->
</main>


