
<main>
    <div class="top_banner">
        <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.3)" style="background-color: rgba(0, 0, 0, 0.3);">
            <div class="container">
                <div class="breadcrumbs">
                    <ul>
                        <li><a>Home</a></li>

                        <!-- <li><a >{{cat}}</a></li> -->
                        <li><a >men</a></li>

                    </ul>
                </div>
                <!-- <h1>{{cat|uppercase}}</h1> -->
                <h1>MEN</h1>

            </div>
        </div>
                <img src="assets/img/men-banner.jpg" class="img-fluid" alt="">

        <!-- <img *ngIf="cat==='man' || cat==='men'" src="{{men}}" class="img-fluid" alt="">
        <img *ngIf="cat==='women'|| cat==='woman'" src="{{women}}" class="img-fluid" alt="">
        <img *ngIf="cat==='kids'" src="{{kids}}" class="img-fluid" alt=""> -->


    </div>
    <!-- /top_banner -->
        <div id="stick_here"></div>
        <!-- <div class="toolbox elemento_stick">
            <div class="container">
            <ul class="clearfix">
                <li>
                    <div class="sort_select">
                        <select name="sort" id="sort">
                                <option value="popularity" selected="selected">Sort by popularity</option>
                                <option value="rating">Sort by average rating</option>
                                <option value="date">Sort by newness</option>
                                <option value="price">Sort by price: low to high</option>
                                <option value="price-desc">Sort by price: high to </option>

                        </select>
                    </div>
                </li>
                <li>
                    <a href="#0"><i class="ti-view-grid"></i></a>
                    <a href="listing-row-1-sidebar-left.html"><i class="ti-view-list"></i></a>
                </li>
                <li>
                    <a href="#0" class="open_filters">
                        <i class="ti-filter"></i><span>Filters</span>
                    </a>
                </li>
            </ul>
            </div>
        </div> -->
        <!-- /toolbox -->


        <div class="container margin_30">

        <div class="row">
            <div class="col-lg-9">
                <div class="row small-gutters">


                    <div class="col-6 col-md-4" *ngFor="let product of productsCategory|
                    filter:searchText|
                    paginate: { itemsPerPage: count, currentPage: p }">
                        <div class="grid_item">
                            <span class="ribbon hot">Hot</span>
                            <input id="id" type="hidden" value="{{product.id}}" #inputId>
                            <figure>
                                <a>
                                    <img class="img-fluid lazy" id="inputImage" src="{{product.image}}" style="height: 300px !important; width:300px !important" alt="" #inputImage>
                                </a>
                            </figure>
                            <a>
                                <h3 id="inputProdName">{{(product.product_name.length>30)? (product.product_name|slice:0:30)+'...':(product.product_name) }}</h3>
                                <input id="inputProdName" type="hidden" value="{{product.product_name}}" #inputProdName>

                            </a>
                            <div class="price_box">
                                <input id="inputNewPrice" type="hidden" value="{{product.price - product.discount}}" #inputNewPrice>
                              <span class="new_price">{{product.price - product.discount | currency}}</span>
                              <span class="old_price"id="inputPrice" *ngIf="product.discount > 0">{{product.price | currency}}</span>
                            </div>
                            <!-- <div class="price_box" *ngFor="let p of price">
                                <span class="new_price" *ngIf="p.product_id === product.id" >$ {{p.size}}</span>
                            </div> -->

                            <ul>
                                <li><a  class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to favorites"><i class="ti-heart"(click)="addToFav(inputId.value,inputProdName.value,inputImage.src,inputNewPrice.value)"></i><span>Add to favorites</span></a></li>
                                <li><a routerLink="/veiw/{{product.id}}" class="tooltip-1" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-placement="left"
                                    title="view product"><i class="fa fa-eye" style="font-size:20px"
                                      ></i><span>view product</span></a></li>
                            </ul>
                        </div>
                        <!-- /grid_item -->
                    </div>
                    <!-- /col -->

                </div>
                <!-- /row -->
                <pagination-controls (pageChange)="p = $event">
                </pagination-controls>
                </div>
                <!-- /col -->

                <aside class="col-lg-3" id="sidebar_fixed">
                <div class="filter_col"  >
                    <div class="inner_bt"><a href="#" class="open_filters"><i class="ti-close"></i></a></div>
                    <div class="filter_type version_2" >
                        <h4><a data-bs-toggle="collapse" class="opened" href="#filter_1">Products</a></h4>
                        <div class="collapse show" id="filter_1">
                            <div class="input-group" style="width: 300px;">
                                <div class="form-outline">
                                  <input [(ngModel)]='searchText' type="search" id="form1" class="form-control" style="border-radius: 0px;" placeholder="Search"/>
                                </div>
                              </div>
                              <ul>
                                <label *ngFor="let sucategory of allsubcategories;let currentIndex=index" >
                                    <li *ngFor="let sub of sucategory">

                                        <a href="" routerLink="/products/{{sub.id}}/{{sub.cat_id}}" *ngIf="sub.category.cat_name==='man' || sub.category.cat_name==='men'">
                                          <i class="fas fa-shopping-bag"></i>
                                        <!-- <input type="radio">
                                        <span class="checkmark"> -->

                                        <!-- <small class="ml-5">12</small> -->
                                        <!-- </span> -->
                                        {{sub.subcat_name}}
                                    </a>
                                    </li>

                                </label>

                            </ul>
                        </div>

                        <!-- /filter_type -->
                    </div>


                </div>
            </aside>
        </div>

    </div>


</main>

