<main class="bg_gray">
    <div class="top_banner general">
        <div class="opacity-mask d-flex align-items-md-center" data-opacity-mask="rgba(0, 0, 0, 0.1)">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-8 col-md-6 text-end">
                        <!-- <h1>About Our Website</h1> -->
                    </div>
                </div>
            </div>
        </div>
        <img src="assets/images/hakkimizda.jpg" class="img-fluid" alt="">
    </div> 
    <!--/top_banner-->
    
    <div class="bg_white">
    <div class="container margin_90_0">
        <div class="row justify-content-between align-items-center flex-lg-row-reverse content_general_row">
            <div class="col-lg-5 text-center">
                <figure><img src="assets/img/about_1.svg"  alt="" class="img-fluid lazy" width="350" height="268"></figure>
            </div>
            <div class="col-lg-6">
                <h2>Our E-commerce</h2>
                <p class="lead">As E-commerce, we started an excitement journey in 2005. In this journey we set off to bring a fresh new perspective to Turkish fashion and bring together our brand new,
                </p>
                <p>quality and unique designs with consumers at four corners of the World, we put our signature under very important Works and achievements.</p>
            </div>
        </div>
        <!--/row-->
        <div class="row justify-content-between align-items-center content_general_row">
            <div class="col-lg-5 text-start">
                <figure><img src="assets/img/about_3.svg" data-src="img/about_3.svg" alt="" class="img-fluid lazy" width="350" height="268"></figure>
            </div>
            <div class="col-lg-6">
                <h2>FASHION LOVED BY MANY</h2>
                <p class="lead">
                    It all started with a single Woman Category. Today, the E-commerce WebSite has several clearly defined fashion brands and a strong global presence.
                </p>
                <p>
                    Our expansion is long-term and we grow online , in existing as well as new markets. We want to make sustainable, good-quality fashion accessible to as many people as possible.
                </p>
            </div>
        </div>
        <!--/row-->
        <div class="row justify-content-between align-items-center flex-lg-row-reverse content_general_row">
            <div class="col-lg-5 text-center">
                <figure><img src="assets/img/about_2.svg" data-src="img/about_2.svg" alt="" class="img-fluid lazy" width="350" height="316"></figure>
            </div>
            <div class="col-lg-6">
                <h2>HOW WE DO IT</h2>
                <p class="lead">We want to make fashion sustainable and sustainability fashionable. The commitment of our employees is key to our success.</p>
                <p>We are dedicated to creating a better fashion future and we use our size and scale to drive development towards a more circular, fair and equal fashion industry.</p>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/container-->
        
    </div>
    <!--/bg_white-->

    <!--/carousel-->
</main>
<!--/main-->