
<div id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
              <div class="sidebar-brand-icon rotate-n-15">
                  <i class="fas fa-laugh-wink"></i>
              </div>
              <div class="sidebar-brand-text mx-3"> Admin </div>
          </a>

          <!-- Divider -->
          <br>
          <hr class="sidebar-divider my-0">

          <!-- Nav Item - Dashboard -->
          <li class="nav-item">
              <a class="nav-link" routerLink="/admn/admin/dashboard">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Dashboard</span></a>
          </li>
         
          <!-- Divider -->
      

          <!-- Heading -->
         

          <!-- Nav Item - Pages Collapse Menu -->
       

          <!-- Nav Item - Utilities Collapse Menu -->
         

          <br>
          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
              Addons
          </div>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
              <a class="nav-link collapsed" routerLink="/admn/admin/category" data-toggle="collapse" data-target="#collapsePages"
                  aria-expanded="true" aria-controls="collapsePages">
                  <i class="fas fa-fw fa-folder"></i>
                  <span>Categories</span>
              </a>
              
          </li>
          <li class="nav-item">
            <a
              class="nav-link collapsed"
              routerLink="/admn/admin/subcategory"
              data-toggle="collapse"
              data-target="#collapsePages"
              aria-expanded="true"
              aria-controls="collapsePages"
            >
              <i class="fas fa-fw fa-folder"></i>
              <span>SubCategories</span>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed" routerLink="/admn/admin/product" data-toggle="collapse" data-target="#collapsePages"
                  aria-expanded="true" aria-controls="collapsePages">
                  <i class="fas fa-fw fa-folder"></i>
                  <span>Products</span>
              </a>
              
          </li>
          <!-- Nav Item - Charts -->
          <li class="nav-item">
              <a class="nav-link collapsed" routerLink="/admn/admin/users" data-toggle="collapse" data-target="#collapsePages"
                  aria-expanded="true" aria-controls="collapsePages">
                  <i class="fas fa-fw fa-folder"></i>
                  <span>Users</span>
              </a>
          </li>
          <!-- Nav Item - Tables -->
          <li class="nav-item">
              <a class="nav-link collapsed" routerLink="/admn/admin/order" data-toggle="collapse" data-target="#collapsePages"
                  aria-expanded="true" aria-controls="collapsePages">
                  <i class="fas fa-fw fa-folder"></i>
                  <span>Orders</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed" routerLink="/home" 
                  aria-expanded="true" aria-controls="collapsePages">
                  <span>Log out</span>
              </a>
          </li>
          <!-- Divider -->
          <!-- <br>
          <hr class="sidebar-divider d-none d-md-block">

           Sidebar Toggler (Sidebar) -->
          <!-- <div class="text-center d-none d-md-inline">
              <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div> --> 

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <!-- <router-outlet></router-outlet> -->
     




<!-- Page Wrapper -->
<!-- Content Wrapper -->
<div class="container" class="d-flex flex-column col-10">
  <div class="mt-4">
    <div class="container-fluid col-12">
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Users</h1>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <br>
  <!-- Area Chart -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Table of Users</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <table class="table">
              <thead class="thead-info">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Address</th>
                  <th scope="col">Telphone</th>
                  <th scope="col">Email</th>
                  <th scope="col">Details</th>
                  <th scope="col">Actions</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td class="d-flex justify-content-around">
                    <div class="btn btn-info mr-2">Veiw</div>
                    <div class="btn btn-dark mr-2">Edit</div>
                    <button class="btn btn-danger">Delete</button>
                  </td>
                </tr>
                <tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- End of Content Wrapper -->
  <!-- End of Page Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->  

</div>