
<section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
    <div class="container">
        <div class="page-breadcrumb d-flex align-items-center">
            <h3 class="breadcrumb-title pe-3">My Profile</h3>
            <div class="ms-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="bx bx-home-alt"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item"><a routerLink="/user/profile/dashboard">Account</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">My Orders</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card shadow-none mb-3 mb-lg-0 border">
                    <div class="card-body">
                        <div class="list-group list-group-flush">	
                            <a routerLink="/user/profile/dashboard" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Dashboard <i class='bx bx-tachometer fs-5'></i></a>
                            <a routerLink="/user/profile/order" class="list-group-item active d-flex justify-content-between align-items-center">Orders <i class='bx bx-cart-alt fs-5'></i></a>
                            <a routerLink="/user/profile/address" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Addresses <i class='bx bx-home-smile fs-5'></i></a>
                            <a routerLink="/user/profile/userDetailes" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Account Details <i class='bx bx-user-circle fs-5'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card shadow-none mb-0" style="min-height: 500px;">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="table-light">
                                    <tr>
                                        <th>Order</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Total</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let order of orders">
                                        <td>{{order.id}}</td>
                                        <input type="hidden" value="{{order.id}}" #orderId>
                                        <td>{{order.created_at|date}}</td>
                                        <td>
                                            <div class="badge rounded-pill bg-success w-100"  
                                            [class.bg-danger]="order.status=='canceled'" 
                                            [class.bg-success]="order.status=='completed'"
                                            [class.bg-warning]="order.status=='pending'">{{order.status}}</div>
                                        </td>
                                        <td>{{order.price|currency}}</td>
                                        <td class="d-flex gap-2">
                                          <button class="btn btn-dark btn-sm rounded-0" data-bs-toggle="modal" data-bs-target="#exampleModal"(click)="view(orderId.value)"
                                           >View</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->
      </div>
      <div style="position: absolute;" class="modal fade" id="exampleModal" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div style="position: relative;top: 20px;left: 150px;" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Show Order Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="box_general summary">
              <ul>
                <li class="clearfix" *ngFor="let cart of carts">
                  <em>{{cart.products_number}}x {{cart.product_name}}</em> 
                  <span>${{cart.total_price}}</span>
                </li>
  
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
