/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "css/bootstrap.custom.min.css";
@import "css/style.css";
@import "css/home_1.css";
@import "css/custom.css";
@import "css/listing.css";
@import "css/about.css";
@import "css/contact.css";
@import "css/account.css";
@import "css/checkout.css";
@import "css/cart.css";
@import "css/custom.css";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* @import "css/bootstrap.css"; */

/* templet 2 */
@import "plugins2/OwlCarousel/css/owl.carousel.min.css";
@import "plugins2/simplebar/css/simplebar.css";
 @import "plugins2/perfect-scrollbar/css/perfect-scrollbar.css";
@import "plugins2/metismenu/css/metisMenu.min.css";
@import "plugins2/nouislider/nouislider.min.css";
@import "css2/pace.min.css";
@import "css2/bootstrap.min.css";
@import "css2/app.css";
@import "css2/icons.css";

@import "css/product_page.css";


/* admin */
@import "bootstrap/css/bootstrap.min.css";
@import"css3/plugins.css";
@import"css3/ecommerce-dashboard/timeline.css";
@import"css3/ecommerce-dashboard/style.css";

/* admin2 */
@import "css4/sb-admin-2.min.css";
@import "./vendor/fontawesome-free/css/all.min.css";

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
  height: 50px;
  text-indent: 25px;
  border: 2px solid #d6d4d4
}

.search input:focus {
  box-shadow: none;
  border: 2px solid #3D63D2
}

.search .fa-search {
  position: absolute;
  top: 18px;
  left: 16px
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 100%;
    margin: 30px auto;
  }
}
