<main class="bg_gray">


  <div class="container margin_30">
    <div class="page_header">
      <div class="breadcrumbs">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Cart</a></li>
          <li>CheckOut</li>
        </ul>
      </div>
      <h1>Sign In or Create an Account</h1>

    </div>
    <!-- /page_header -->
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="step first">
          <h3>1. User Info and Billing address</h3>
          <ul class="nav nav-tabs" id="tab_checkout" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#tab_1" role="tab"
                aria-controls="tab_1" aria-selected="true">Register</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab_2" role="tab" aria-controls="tab_2"
                aria-selected="false">Login</a>
            </li> -->
          </ul>
          <div class="tab-content checkout">
            <div class="tab-pane fade show active" id="tab_1" role="tabpanel" aria-labelledby="tab_1">
				<div [formGroup]="formRegister">
					<div class="form_container">

					  <div class="private box">
						<div class="row no-gutters">
						  <div class="col-12 ">
							<div class="form-group">
							  <input formControlName="Name" type="text" class="form-control" [class.is-invalid]="isInValidAndTouched2('Name')" [class.is-valid]="isValidControl2('Name')" placeholder="Name*">
							  <div *ngIf="isInValidAndTouched2('Name')">
								<small class="form-text text-danger" *ngIf="isControlHasError2('Name','required')">required name</small>
								<small class="form-text text-danger" *ngIf="isControlHasError2('Name','minlength')">min length is 3</small>
								<small class="form-text text-danger" *ngIf="isControlHasError2('Name','maxlength')">max length is 25</small>
							</div> 
							</div>
						  </div>
						  <div class="col-12">
							<div class="form-group">
							  <input formControlName="Address" type="text" class="form-control" [class.is-invalid]="isInValidAndTouched2('Address')" [class.is-valid]="isValidControl2('Address')" placeholder="Full Address*">
							  <div *ngIf="isInValidAndTouched2('Address')">
								<small class="form-text text-danger" *ngIf="isControlHasError2('Address','required')">required address</small>
								<small class="form-text text-danger" *ngIf="isControlHasError2('Address','maxlength')">max length is 100</small>
							</div> 
							</div>
						  </div>
						</div>
						<!-- /row -->
						<div class="row no-gutters">
						  <div class="col-6 pr-1">
							<div class="form-group">
							  <input formControlName="City" type="text" class="form-control" [class.is-invalid]="isInValidAndTouched2('City')" [class.is-valid]="isValidControl2('City')" placeholder="City*">
							  <div *ngIf="isInValidAndTouched2('City')">
								<small class="form-text text-danger" *ngIf="isControlHasError2('City','required')">required city</small>
							</div> 
							</div>
						  </div>
						  <div class="col-6 pl-1">
							<div class="form-group">
							  <input formControlName="HouseNum" type="text" class="form-control" [class.is-invalid]="isInValidAndTouched2('HouseNum')" [class.is-valid]="isValidControl2('HouseNum')" placeholder="House Number*">
							  <div *ngIf="isInValidAndTouched2('HouseNum')">
								<small class="form-text text-danger" *ngIf="isControlHasError2('HouseNum','required')">required house number</small>
							</div> 
							</div>
						  </div>
						</div>
						<!-- /row -->
		
						<div class="row no-gutters">
						  <div class="col-6 pr-1">
							<div class="form-group">
							  <div class="custom-select-form">
		
								<select formControlName="Country" class="form-select" [class.is-invalid]="isInValidAndTouched2('Country')" [class.is-valid]="isValidControl2('Country')" name="country" placeholder="Country*">
								  <option value="">Country*</option>
								  <option value="Europe" selected>Egypt</option>
								  <option value="United states">United states</option>
								  <option value="Asia">Asia</option>
								</select>
							  </div>
							  <div *ngIf="isInValidAndTouched2('Country')">
								<small class="form-text text-danger" *ngIf="isControlHasError2('Country','required')">required house country</small>
							</div> 
							</div>
						  </div>
						  <div class="col-6 pl-1">
							<div class="form-group">
							  <input formControlName="Phone" type="text" class="form-control" [class.is-invalid]="isInValidAndTouched2('Phone')" [class.is-valid]="isValidControl2('Phone')" placeholder="Telephone *">
							  <div *ngIf="isInValidAndTouched2('Phone')">
								<small class="form-text text-danger" *ngIf="isControlHasError2('Phone','required')">required house phone number</small>
								<small class="form-text text-danger" *ngIf="isControlHasError2('Phone','minlength')">max length is 11</small>
								<small class="form-text text-danger" *ngIf="isControlHasError2('Phone','maxlength')">max length is 11</small>
		
							</div> 
							</div>
						  </div>
						</div>
						<!-- /row -->
		
					  </div>		
					</div>
				  </div>
              <!-- <hr> -->
              <hr>
            </div>
            <!-- /tab_1 -->
            <!-- <div class="tab-pane fade" id="tab_2" role="tabpanel" aria-labelledby="tab_2" style="position: relative;">
              <a href="#0" class="social_bt facebook">Login con Facebook</a>
              <a href="#0" class="social_bt google">Login con Google</a>

              <div [formGroup]="formLogin">

                <div class="form-group">
                  <input formControlName="Email" type="email" class="form-control"
                    [class.is-invalid]="isInValidAndTouched('Email')" [class.is-valid]="isValidControl('Email')"
                    name="email" placeholder="User Name*">
                  <div *ngIf="isInValidAndTouched('Email')">
                    <small class="form-text text-danger" *ngIf="isControlHasError('Email','required')">required
                      email</small>
                    <small class="form-text text-danger" *ngIf="isControlHasError('Email','email')">is not valid</small>
                  </div>
                </div>
                <div class="form-group">
                  <input formControlName="Password" type="password" class="form-control"
                    [class.is-invalid]="isInValidAndTouched('Password')" [class.is-valid]="isValidControl('Password')"
                    name="password_in" placeholder="Password*">
                  <div *ngIf="isInValidAndTouched('Password')">
                    <small class="form-text text-danger" *ngIf="isControlHasError('Password','required')">required
                      password</small>
                    <small class="form-text text-danger" *ngIf="isControlHasError('Password','minlength')">min length is
                      6</small>
                  </div>
                </div>

                <button [disabled]="formLogin.invalid" (click)="login()" type="button"
                  class="btn btn-primary btn_1 full-width">Log
                  IN</button>

              </div>
              <div class="clearfix add_bottom_15">
                <div class="checkboxes float-start">
                  <label class="container_check">Remember me
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>

              <hr>
            </div> -->
            <!-- /tab_2 -->
          </div>
        </div>
        <!-- /step -->
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="step middle payments">
          <h3>2. Payment and Shipping</h3>
          <ul>
            <li>
              <label class="container_radio">Credit Card<a href="#0" class="info" data-bs-toggle="modal"
                  data-bs-target="#payments_method"></a>
                <input type="radio" name="payment" checked>
                <span class="checkmark"></span>
              </label>
            </li>
            <li>
              <label class="container_radio">Cash on delivery<a href="#0" class="info" data-bs-toggle="modal"
                  data-bs-target="#payments_method"></a>
                <input type="radio" name="payment">
                <span class="checkmark"></span>
              </label>
            </li>
          </ul>
          <div class="payment_info d-none d-sm-block">
            <figure>
              <img src="../../assets/img/cards_all.svg" alt="">
            </figure>
            <img src="../../assets/images (1).png" alt="" width="380px">


          </div>

          <!-- <h6 class="pb-2">Shipping Method</h6> -->


          <!-- <ul>
								<li>
									<label class="container_radio">Standard shipping<a href="#0" class="info" data-bs-toggle="modal" data-bs-target="#payments_method"></a>
										<input type="radio" name="shipping" checked>
										<span class="checkmark"></span>
									</label>
								</li>
								<li>
									<label class="container_radio">Express shipping<a href="#0" class="info" data-bs-toggle="modal" data-bs-target="#payments_method"></a>
										<input type="radio" name="shipping">
										<span class="checkmark"></span>
									</label>
								</li>
								
						</ul> -->

        </div>
        <!-- /step -->

      </div>
      <div class="col-lg-4 col-md-6">
        <div class="step last">
          <h3>3. Order Summary</h3>
          <div class="box_general summary">
            <ul>
              <li class="clearfix" *ngFor="let cart of cartInOrder">
                <em>{{cart.products_number}}x {{cart.product_name}}</em> 
                <span>${{cart.total_price}}</span>
              </li>

            </ul>
            <div class="total clearfix">TOTAL <span>{{totalPrice|currency}}</span></div>
            <div class="form-group">
              <label class="container_check">Register to the Newsletter.
                <input type="checkbox" checked>
                <span class="checkmark"></span>
              </label>
            </div>

            <a routerLink="/cart/checkout/confirm" class="btn_1 full-width">Confirm and Pay</a>

          </div>
          <!-- /box_general -->
        </div>
        <!-- /step -->
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</main>